name: Build and populate cache
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup cachix
        uses: cachix/cachix-action@v15
        with:
          name: johejo
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build packages
        run: |
          nix run nixpkgs#nix-build-uncached -- ci.nix -A cacheOutputs -I nixpkgs="https://github.com/NixOS/nixpkgs/archive/$(jq -r '.nodes.nixpkgs.locked.rev' flake.lock).tar.gz"
